<!DOCTYPE html>

<html>

<head>
    <title>Timestamp Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
        <h2>Example Usage:</h2>
        <ul>
            <li><a href="api/2025-05-19">[project url]/api/2025-05-19</a></li>
            <li><a href="api/1747612800000">[project url]/api/1747612800000</a></li>
        </ul>

        <h2>Example Output:</h2>
        <p>
            <code>{"unix":1747612800000,"utc":"Mon, 19 May 2025 00:00:00 GMT"}</code>
        </p>
    </div>
    <div class="footer">
        <p>
            By <a href="#">Mathias Bekele</a>
        </p>
    </div>
</body>

</html>